{% extends "base.html" %}

{% block content %}
  <h3>Distance: {{ distance }}mi</h3>
  <h3>Pace: {{ pace }}min/mi</h3>
  <h3>Latitude: {{ latitude }}</h3>
  <h3>Longitude: {{ longitude }}</h3>
  <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">

    init_lat = {{ latitude }};
    init_lon =  {{ longitude }};
    range = {{ distance }} * 0.3;

    function findCoordinates(lat, long, range)
    {
        // How many points do we want? (should probably be function param..)
        var numberOfPoints = 16;
        var degreesPerPoint = 360 / numberOfPoints;

        // Keep track of the angle from centre to radius
        var currentAngle = 0;

        // The points on the radius will be lat+x2, long+y2
        var x2;
        var y2;
        // Track the points we generate to return at the end
        var points = new Array();

        for(var i=0; i < numberOfPoints; i++)
        {
            // X2 point will be cosine of angle * radius (range)
            x2 = Math.cos(currentAngle) * range;
            // Y2 point will be sin * range
            y2 = Math.sin(currentAngle) * range;

            // Assuming here you're using points for each x,y..
            newLat = lat+x2;
            newLong = long+y2;
            var lat_long = new google.maps.LatLng(newLat,newLong);
            var marker = new google.maps.Marker({
               position: lat_long,
               map: map
            });


            // Shift our angle around for the next point
            currentAngle += degreesPerPoint;
        }
        // Return the points we've generated
        //return points;
    }

    function initialize() {
      var mapDiv = document.getElementById('map-canvas');
      map = new google.maps.Map(mapDiv, {
        center: new google.maps.LatLng(init_lat, init_lon),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var lat_long = new google.maps.LatLng(init_lat,init_lon);
      var marker = new google.maps.Marker({
          position: lat_long,
          map: map
      });

      findCoordinates(init_lat,init_lon,range);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <div id="map-canvas" style="width: 500px; height: 400px"></div> -->
{% endblock %}
